button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}

button:hover {
  background-color: #cfd8dc;
}

.left-button {
  margin-right: 3px;
}

.right-button {
  margin-left: 3px;
}

.ng-invalid {
  border: 1px solid #a94442;
}

.error {
  color: #a94442;
}

input {
  padding-left: 3px;
  border: 1px solid #8a9397;
  border-radius: 4px;
}

.caption {
  font-weight: bold;
}

.table {
  display: table;
  border-collapse:collapse;
}
.tr {
  display:table-row;
}
.td {
  display:table-cell;
  padding:5px;
}
