.selected {
  background-color: #CFD8DC !important;
  color: white;
}

.people {
  list-style-type: none;
  padding: 0;
}

.people li {
  background-color: #EEE;
  width: 15em;
  margin: .5em;
  padding: .3em .3em;
  height: 1.6em;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  left: 0;
}

.people li:hover {
  background-color: #cfd8dc;
}

.people li a {
  color: black;
  text-decoration: none;
}
